extends ../layout

block content

  .main-content.auth(role='main')
    .wrapper
      .auth-box
        h1 Change your password
        - if (success)
          p Please check your email for thurfer instructions about how to change your password. Thank you.
        - else
          form#change-pass-form(action="/change-password", method="post")
            input(type="hidden", name="_csrf", value="#{csrfToken}")
            #error-cnt
              - if (errors)
                - each error in errors
                  - if (error === "wrong-token")
                    li.error Sorry, but but the URL you provided is invalid.
                  - if (error === "wrong-pass")
                    li.error Your passwords do not match.
            .control-group
              input(type='hidden', name="token", value=token)
              input#change-pass-new-pass(type="password", name="password", placeholder="New password", tabindex="1")
              input(type="password", name="repeat_password" placeholder="Confirm Password", tabindex="3")
            input#change-pass-btn(type="submit", value="Change", tabindex="4")
