extends ../auth

block content
  .main-content(role='main')
    .wrapper
      .auth-box.large
        h1 Reset Password
        - if (success)
          p.msg Please check your email for further instructions.
        - else
          form#send-pass-form(action="/send-password", method="post")
            input(type="hidden", name="_csrf", value="#{csrfToken}")
            #error-cnt
              - if (errors)
                - each error in errors
                  - if (error === "wrong-user")
                    p.error Sorry, but we could not find a profile with the given email.
                  - if (error === "invalid-captcha")
                    p.error Please fill in the correct captcha.
            .control-group
              label(for="email").label Email address
              .input-prepend
                span.add-on
                  i.icon-envelope
                input#change-pass-email(type="email", name="email", placeholder="Email", tabindex="1", autofocus)
            #captcha
              script.
                var RecaptchaOptions = {theme : 'clean'};
              script(src="https://www.google.com/recaptcha/api/challenge?k=#{recaptchaPublicKey}")
            input#change-pass-btn(type="submit", value="Reset Password", tabindex="2")
