extends ../layout

block content

  .main-content.auth(role='main')
    .wrapper
      .auth-box
        h1 Change password
        - if (success)
          p Please check your email for thurfer instructions about how to change your password. Thank you.
        - else
          form#send-pass-form(action="/send-password", method="post")
            #error-cnt
              - if (errors)
                - each error in errors
                  - if (error === "wrong-user")
                    p.error Sorry, but we could not find a profile with the given email.
            .control-group
              input#change-pass-email(type="email", name="email", placeholder="Email", tabindex="1")
            input#change-pass-btn(type="submit", value="Change", tabindex="4")
