extends ../auth

block content
  .main-content(role='main')
    .wrapper
      .auth-wrap
        .auth-box
          h1
            | Create your account
            .promo Register now and <b>pay no fees for 90 days</b>.
          form#signup-form(action="/user", method="post")
            #error-cnt
            .control-group
              label(for="email").label Email address
              .input-prepend
                span.add-on
                  i.icon-envelope
                input#signup-email(type="email", name="email", placeholder="Email", tabindex="1", autofocus, autocomplete="off")
              #hint.hint
            .control-group
              label(for="password").label Choose a password
              .input-prepend
                span.add-on
                  i.icon-lock
                input#signup-password(type="password", name="password" placeholder="Minimum of 8 characters, at least 1 number", tabindex="2", autocomplete="off")
            .control-group
              label(for="repeat_password").label Confirm your password
              .input-prepend
                span.add-on
                  i.icon-lock
                input(type="password", name="repeat_password" placeholder="Confirm password", tabindex="3", autocomplete="off")
              #password-strength
                span#s0.cell
                span#s1.cell
                span#s2.cell
                span#s3.cell
                span#s4.cell
              span#strength-text
            input#login-btn(type="submit", value="Create Account", tabindex="4")
            p.misc There is <b>no further ID verification required</b> to get started.

        p.terms
          | By creating an account you agree<br /> to our <a href="/legal/terms">Terms of Service</a> and <a href="/legal/privacy">Privacy Policy</a>.
