extends ../auth

block content
  .main-content(role='main')
    .wrapper
      .auth-box
        h1 Email Verification
        - if (user && action === "verify")
          - if (user.email_verified)
            p.msg
              | Your email was successfully verified.
              br
              |  <a href="/">Return to home page.</a>
          - else
            p.msg Your email could not be verified.
        - else if (user && action === "resend")
          p.msg
            | An activation link was sent to your email.
            br
            |  <a href="/">Return to home page.</a>
          