extends ../auth

block content
  .main-content(role='main')
    .wrapper
      .auth-box
        h1 Email Verification Succesful
        - if (user && user.email_verified)
          p.msg 
            | Your email was successfully verified.
            br
            |  <a href="/">Return to home page.</a>
        - else
          p.msg Your email could not be verified.