extends ../auth

block content
  .main-content(role='main')
    .wrapper
      .auth-box
        h1 Email Verification
        - if (user && user.email_verified)
          p.msg 
            | Your email was successfully verified.
        - else
          p.msg Your email could not be verified.
        br
        |  <a href="/">Return to home page.</a>