extends ../admin

block content
  h1 Stats

  - for currency in currencies
    h4
      span(id="bank-balance-#{currency}")
        | loading...
      span
        |  #{currency}

  br

  p
    form#search-user-form
      input(type="text", placeholder="ID, email or deposit address", name="term")
      button(type="submit").btn Find user
      br
    a#search-user-result(target="_blank")

  p
    form#load-wallet-info-form
      input(type="text", placeholder="Currency", name="currency", value="BTC")
      button.btn Get info
    #wallet-info-cnt.hidden
      span#wallet-currency
      | : 
      span#wallet-address
      pre#wallet-info
