extends ../admin

block content
  h2 Wallet Balances

  table.table.wallet-balance
    tr
      td.label Bitcoin
      td 
        span#btc-bank-balance 0
        span  BTC
    tr
      td.label Litecoin
      td
        span#ltc-bank-balance 0
        span  LTC
    tr
      td.label Peercoin
      td
        span#ppc-bank-balance 0
        span  PPC

  p
    a#show-wallet-info(href="#") Show more
  #wallet-info.hidden
    p
      b BTC bank address:
      |  #{btcBankAddress}
    p
      b PPC bank address:
      |  #{ppcBankAddress}
    p
      b LTC bank address:
      |  #{ltcBankAddress}
