extends ../../layout

block content
  .main-content.settings(role='main')
    .wrapper
      .col-aside
        ul.sub-nav
          li: a(href='/settings') Settings
          li.active: a(href='/settings/preferences') Preferences
          li: a(href='/settings/security') Security

      .col-main
        .container
          .con-header
            h1.con-header-title Preferences
          .con-body
            form
              fieldset.checkbox
                label(for="disable_chat")
                  input(type="checkbox" name="disable_chat" id="disable_chat")
                  | Disable chat

