extends ../../layout

block content
  .main-content.settings(role='main')
    .wrapper
      .col-aside
        ul.sub-nav
          li: a(href='/settings') Settings
          li.active: a(href='/settings/preferences') Preferences
          li: a(href='/settings/security') Security

      .col-main
        h1.page-title Preferences
        .content
          form
            fieldset
              input(type="checkbox" name="disable_chat" id="disable_chat")
              label(for="disable_chat") Disable chat

