extends ../../layout

block content
  .main-content.settings(role='main')
    .wrapper
      .col-aside
        ul.sub-nav
          li: a(href='/settings') Settings
          li: a(href='/settings/preferences') Preferences
          li.active: a(href='/settings/security') Security

      .col-main
        .container
          .con-header
            h1.con-header-title Security
          .con-body
            h2 Change Password
            form#set-new-pass-form(action="/set-new-password", method="post")
              #error-cnt
              #notice-cnt
              fieldset
                input(name="password", type="password", placeholder="Current password")
              fieldset
                input#set-new-pass(name="new_password", type="password", placeholder="New password")
              fieldset
                input(name="repeat_new_password", type="password", placeholder="Confirm password")
              input(type="submit" value="Change Password").btn
            hr
            h2 Two factor authentication
            p 
              | We offer Google Authenticator as an extra security layer when logging in.
              | <br /> Enabling two-factor authentication greatly increases the security of your account.
              | <br /> <a href="https://support.google.com/accounts/answer/1066447?hl=en" target="_blank" rel="_nofollow">Check here for instructions on how to install Google Authenticator on your device.</a>
            - if (user.gauth_data)
              .qr-code
                a(href="#{user.gauth_data.google_auth_qr}", target="_blank")
                  img(src="#{user.gauth_data.google_auth_qr}")
                p#qr-code #{user.gauth_data.base32}
            a#qr-gen-bt(href="/generate_gauth") Enable Google Authenticator

