extends ../../layout

block content
  .main-content.settings(role='main')
    .wrapper
      .col-aside
        ul.sub-nav
          li.active: a(href='/settings') Settings
          li: a(href='/settings/preferences') Preferences
          li: a(href='/settings/security') Security

      .col-main
        h1.page-title Settings