{
  "development" : {
    "mongo_uri": "mongodb://localhost/coinnext_dev",
    "redis": {
      "db": "coinnext_auth_dev"
    },
    "salt": "coinnextsecret#1999"
  },
  "test" : {
    "mongo_uri": "mongodb://localhost/coinnext_test",
    "redis": {
      "db": "coinnext_auth_test"
    },
    "salt": "coinnextsecret#1999"
  },
  "production" : {
    "mongo": {
      "host": "",
      "port": "",
      "user": "coinnext_prod",
      "pass": "",
      "db": "coinnext_prod"
    },
    "redis": {
      "host": "",
      "port": "",
      "user": "",
      "pass": "",
      "db": "coinnext_auth"
    },
    "salt": "coinnextsecret#1999"
  }
}