{
  "development" : {
    "mongo_uri": "mongodb://localhost/coinnext_dev",
    "redis": {
      "db": "coinnext_auth_dev"
    },
    "salt": "coinnextsecret#1999",
    "emailer": {
      "host": "http://localhost:5000",
      "from": "Coinnext Mailer <no-reply@coinnext.com>",
      "transport": {
        "host": "email-smtp.us-east-1.amazonaws.com",
        "port": 465,
        "secureConnection": true,
        "auth": {
          "user": "",
          "pass": ""
        },
        "debug": true
      }
    },
    "wallets": {
      "btc": {
        "client": {
          "host": "127.0.0.1",
          "port": 18332,
          "user": "doomhz",
          "pass": "greatsuccess"
        },
        "wallet": {
          "address": "mrLpnPMsKR8oFqRRYA28y4Txu98TUNQzVw",
          "account": "coinnext_bank"
        },
        "confirmations": 1,
        "transaction_fee": 0.0001,
        "balance_confirmations": 0,
        "currency": "BTC"
      },
      "ltc": {
        "client": {
          "host": "127.0.0.1",
          "port": 19332,
          "user": "doomhz",
          "pass": "greatsuccess"
        },
        "wallet": {
          "address": "mrLpnPMsKR8oFqRRYA28y4Txu98TUNQzVw",
          "account": "coinnext_bank"
        },
        "confirmations": 1,
        "transaction_fee": 0.0001,
        "balance_confirmations": 0,
        "currency": "LTC"
      }
    },
    "wallets_host": "localhost:6000",
    "users": {
      "hostname": "http://localhost:5000",
      "events_endpoint": "http://localhost:5000/user_event"
    }
  },
  "test" : {
    "mongo_uri": "mongodb://localhost/coinnext_test",
    "redis": {
      "db": "coinnext_auth_test"
    },
    "salt": "coinnextsecret#1999",
    "emailer": {
      "host": "http://localhost:5000",
      "from": "Coinnext Mailer <no-reply@coinnext.com>",
      "transport": {
        "host": "email-smtp.us-east-1.amazonaws.com",
        "port": 465,
        "secureConnection": true,
        "auth": {
          "user": "",
          "pass": ""
        },
        "debug": true
      }
    },
    "wallets": {
      "btc": {
        "client": {
          "host": "127.0.0.1",
          "port": 18332,
          "user": "doomhz",
          "pass": "greatsuccess"
        },
        "wallet": {
          "address": "mrLpnPMsKR8oFqRRYA28y4Txu98TUNQzVw",
          "account": "coinnext_bank"
        },
        "confirmations": 1,
        "transaction_fee": 0.0001,
        "balance_confirmations": 0,
        "currency": "BTC"
      },
      "ltc": {
        "client": {
          "host": "127.0.0.1",
          "port": 19332,
          "user": "doomhz",
          "pass": "greatsuccess"
        },
        "wallet": {
          "address": "mrLpnPMsKR8oFqRRYA28y4Txu98TUNQzVw",
          "account": "coinnext_bank"
        },
        "confirmations": 1,
        "transaction_fee": 0.0001,
        "balance_confirmations": 0,
        "currency": "LTC"
      }
    },
    "wallets_host": "localhost:6000",
    "users": {
      hostname: "http://localhost:5000",
      "events_endpoint": "http://localhost:5000/user_event"
    }
  },
  "production" : {
    "mongo": {
      "host": "",
      "port": "",
      "user": "coinnext_prod",
      "pass": "",
      "db": "coinnext_prod"
    },
    "redis": {
      "host": "",
      "port": "",
      "user": "",
      "pass": "",
      "db": "coinnext_auth"
    },
    "salt": "coinnextsecret#1999",
    "emailer": {
      "host": "https://coinnext.com",
      "from": "Coinnext Mailer <no-reply@coinnext.com>",
      "transport": {
        "host": "email-smtp.us-east-1.amazonaws.com",
        "port": 465,
        "secureConnection": true,
        "auth": {
          "user": "",
          "pass": ""
        },
        "debug": false
      }
    },
    "wallets": {
      "btc": {
        "client": {
          "host": "127.0.0.1",
          "port": 18332,
          "user": "doomhz",
          "pass": "greatsuccess"
        },
        "wallet": {
          "address": "mrLpnPMsKR8oFqRRYA28y4Txu98TUNQzVw",
          "account": "coinnext_bank"
        },
        "confirmations": 1,
        "transaction_fee": 0.0001,
        "balance_confirmations": 0,
        "currency": "BTC"
      },
      "ltc": {
        "client": {
          "host": "127.0.0.1",
          "port": 9332,
          "user": "doomhz",
          "pass": "greatsuccess"
        },
        "wallet": {
          "address": "mrLpnPMsKR8oFqRRYA28y4Txu98TUNQzVw",
          "account": "coinnext_bank"
        },
        "confirmations": 1,
        "transaction_fee": 0.0001,
        "balance_confirmations": 0,
        "currency": "LTC"
      }
    },
    "wallets_host": "localhost:6000",
    "users": {
      hostname: "http://direct.coinnext.com",
      "events_endpoint": "http://localhost:5000/user_event"
    }
  }
}