doctype html
html(lang='en')
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")

    title #{title ? title : 'Administratie - Coinnext'}
    
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(href="/favicon_admin.ico" rel="shortcut icon")

    != css('admin')

    script.
      CONFIG = {
        csrf: "#{csrfToken}",
        currencies: ["!{currencies ? currencies.join('", "') : ''}"]
      }

  body
    - if (adminUser)
      .sidebar
        .page-head
          .site-logo
            img(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==", alt="Coinnext").coinnext-logo
        ul.side-nav.nav
          li: a(href='/administratie', class=(page === 'stats' ? 'active' : '')) Dashboard
          li: a(href='/administratie/transactions', class=(page === 'transactions' ? 'active' : '')) Transactions
          li: a(href='/administratie/payments', class=(page === 'payments' ? 'active' : '')) Payments
          li: a(href='/administratie/users', class=(page === 'users' ? 'active' : '')) Users
          li: a(href='/administratie/markets', class=(page === 'markets' ? 'active' : '')) Markets
          li
            a(href='/administratie/wallets', class=(page === 'wallets' ? 'active' : '')) Wallets
          
      .top-bar
        .quick-search
          form#search-user-form
            input(type="text", placeholder="ID, email, username or deposit address", name="term")
            button#find-user-bt.btn(type="submit") Find
            a#search-user-result(target="_blank")

        ul.user-nav.nav
          li: a(href="/administratie/logout") Logout
        p.current-user Logged in as #{adminUser.email}
    
    block content

    != js('admin')
