doctype 5
html(lang='en')
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")

    title #{title ? title : 'Coinnext - Cryptocurrency Exchange'}
    
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    != css('main')

    script.
      CONFIG = {
      }

  body
    include site/_header
    block content
    include site/_footer

    script(src="/socket.io/socket.io.js")
    != js('application')
