script(type="text/template", id="chat-message-tpl")
  li(class="message")
    span(class="sender", data-username="<%= message.get('username') %>")
      <%= _.str.truncate(message.get('username'), 10) %>
    | : <%= _.str.escapeHTML(message.get('message')) %>