script(type="text/template", id="coin-stats-tpl")
  table.trade-data
    tr.last-price
      th Last Price:
      td
        <%= _.str.toFixed(coinStats.last_price) %> <%= currency2 %> 
        span(class="rate <%= coinStats.growth_ratio > 0 ? 'up' : '' %> <%= coinStats.growth_ratio < 0 ? 'down' : '' %> <%= coinStats.growth_ratio == 0 ? 'none' : '' %>") <%= _.str.roundTo(coinStats.growth_ratio, 2) * (coinStats.growth_ratio < 0 ? -1 : 1) %>%
    tr.high-price
      th 24hr High:
      td <%= _.str.toFixed(coinStats.day_high) %> <%= currency2 %>
    tr.low-price
      th 24hr Low:
      td <%= _.str.toFixed(coinStats.day_low) %> <%= currency2 %>
    tr.volume
      th Volume:
      td <%= _.str.satoshiRound(coinStats.volume2) %> <%= currency2 %>