script(type="text/template", id="market-ticker-tpl")
  ul
    |<% _.each(marketStats.attributes, function (info, type) { %>
    li(class="market-ticker-coin <%= info.growth ? 'up' : 'down' %>", data-market-type="<%= type %>")
      // a(href='', title='Hide Exchange').hide-coin <i class='icon-hide'></i>
      a(href="/trade/<%= type.replace('_', '/') %>")
        .label <%= info.label %>
        .rate <%= info.growth_ratio %>
        .move-coin <i class="icon-reorder"></i>
    |<% }); %>