script(type="text/template", id="market-ticker-tpl")
  ul
    |<% _.each(marketStats.attributes, function (info, type) { %>
    li.market-ticker-coin(data-market-type="<%= type %>", data-market-currency="<%= info.label %>")
      // a(href='', title='Hide Exchange').hide-coin <i class='icon-hide'></i>
      a(href="/trade/<%= type.replace('_', '/') %>")
        .label <%= info.label %>
        div(class="rate <%= info.growth_ratio > 0 ? 'up' : '' %> <%= info.growth_ratio < 0 ? 'down' : '' %> <%= info.growth_ratio == 0 ? 'none' : '' %>") <%= _.str.roundTo(info.last_price) %>
        .move-coin <i class="icon-reorder"></i>
    |<% }); %>


    