script(type="text/template", id="order-book-order-tpl")
  tr.order-book-order(data-action="<%= order.get('action') %>", data-unit-price="<%= _.str.satoshiRound(order.get('unit_price')) %>")
    td.trade-price <%= _.str.satoshiRound(order.get('unit_price')) %>
    td.trade-amount <%= order.calculateFirstNoFeeAmount() %>
    td.trade-total <%= order.calculateSecondNoFeeAmount() %>