script(type="text/template", id="pending-transaction-tpl")
  tr(class="<%= transaction.get('category') === 'send' ? 'distract' : 'add' %>")
    td
      a(href="https://blockchain.info/tx/<%= transaction.get('txid') %>", target="_blank", title="View on blockchain.info")<%= transaction.get("txid") %>
    td.trade-amount <%= transaction.get("amount") %> <%= transaction.get("currency") %>
    td <%= transaction.get("confirmations") %>/3