script(type="text/template", id="pending-transaction-tpl")
  | <% if (typeof(transaction) !== "undefined") { %>
  tr(class="<%= transaction.get('category') === 'send' ? 'substract' : 'add' %>", data-id="<%= transaction.id %>")
    td <%= transaction.get('txid') %>
    td.trade-amount <%= transaction.get('category') === 'receive' ? '+' : '' %><%= _.str.toFixed(transaction.get("amount")) %> <%= transaction.get("currency") %>
    td <%= transaction.get("confirmations") %>/<%= transaction.get("min_confirmations") %>
  | <% } %>
  | <% if (typeof(payment) !== "undefined") { %>
  tr.substract(data-id="<%= payment.id %>")
    td Withdrawal to <%= payment.get("address") %>
    td.trade-amount -<%= _.str.toFixed(payment.get("amount")) %> <%= payment.get("currency") %>
    td Pending approval
  | <% } %>