script(type="text/template", id="site-closed-order-tpl")
  tr(class="<%= order.get('action') %>", data-id="<%= order.id %>")
    td.trade-date <%= order.getCreatedDate() %>
    td.trade-type <%= order.get('action') %>
    td.trade-price <%= _.str.satoshiRound(order.get('unit_price')) %>
    td.trade-amount <%= order.calculateFirstAmount() %>
    td.trade-total <%= order.calculateSecondAmount() %>