script(type="text/template", id="site-closed-order-tpl")
  tr(class="<%= order.get('action') %>", data-id="<%= order.id %>")
    td.trade-date <%= order.getTime() %>
    td.trade-type <%= order.get('action') %>
    td.trade-price <%= _.str.toFixed(order.get('unit_price')) %>
    td.trade-amount <%= _.str.toFixed(order.calculateFirstAmount()) %>
    td.trade-total <%= _.str.toFixed(order.calculateSecondAmount()) %>