script(type="text/template", id="transaction-history-tpl")
  | <% if (typeof(transaction) !== "undefined") { %>
  tr(class="<%= transaction.get('category') === 'send' ? 'substract' : 'add' %>")
    td <%= transaction.getCreatedDate() %>
    td <%= transaction.get('category') === 'send' ? 'Withdrawal' : 'Deposit' %>
    td <%= transaction.get('address') %>
    td.trade-amount <%= transaction.get('category') === 'receive' ? '+' : '' %><%= _.str.toFixed(transaction.get("amount")) %> <%= transaction.get("currency") %>
  | <% } %>
