script(type="text/template", id="wallet-tpl")
  tr.wallet(data-id="<%= wallet.id %>")
    td <a href="/funds/<%= wallet.get("currency") %>"><%= wallet.get("currency") %></a>
    td <%= wallet.get("balance") %> <%= wallet.get("currency") %>
    td <%= wallet.get("balance") %> <%= wallet.get("currency") %>
    td <%= wallet.get("balance") %> BTC