script(type="text/template", id="wallet-tpl")
  li.wallet(data-id="<%= wallet.id %>")
    .coin-info
      .coin-name <%= wallet.get("currency") %>
      .coin-total Balance: <span class="amount"><%= wallet.get("balance") %></span> <%= wallet.get("currency") %> <span class="coin-available">(<span class="amount"><%= wallet.get("balance") %></span> <%= wallet.get("currency") %> Available)</span>
      | <% if (wallet.get("address")) { %>
      .coin-address Address: <%= wallet.get("address") %>
      .qr-address(data-address="<%= wallet.get('address') %>", data-id="<%= wallet.id %>")
      a.show-qr-address(href="#", data-id="<%= wallet.id %>") Show QR code
      | <% } %>
    .coin-actions
      button.withdraw-bt.white Withdraw
      | <% if (!wallet.get("address")) { %>
      button.deposit-bt(data-id="<%= wallet.id %>") Deposit
      | <% } %>
    .withdraw-cnt
      form#withdraw-form
        input(type="hidden", name="wallet_id", value="<%= wallet.id %>")
        input(type="text", name="amount", placeholder="Amount")
        <%= wallet.get("currency") %>
        input(type="text", name="address", placeholder="Address")
        button(type="submit") Pay