<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width"/>
  </head>
  <body bgcolor="#f6f7f8" leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="margin: 0; padding: 0;">
    <table cellspacing="0" cellpadding="0" border="0" bgcolor="#f6f7f8" width="100%" height="100%" style="background-color:#f6f7f8;">
      <tr>
        <td>
          <table class="header" cellpadding="0" cellspacing="0" bgcolor="#ffffff" width="100%" style="background-color:#ffffff; border-bottom: 1px solid #d1d5dd;">
            <tr>
              <td valign="top" style="padding: 10px;">
                <a href="{{site_url}}" target="_blank" style="border: none; text-decoration: none; width: 146px; height: 25px;"><img src="{{img_path}}/logo.png{{img_version}}" alt="Coinnext" style= "display: block; width: 146px; height: 25px; border: none;"></a>
              </td>
            </tr>
          </table>
          <table class="body" border="0" cellpadding="0" cellspacing="10" width="100%" style="border-collapse: separate;">
            <tr>
              <td valign="top" bgcolor="#ffffff" style="background-color: #ffffff; border-radius: 3px; border: 1px solid #d1d5dd; padding-left: 40px; padding-top:40px; padding-right:40px; padding-bottom:40px; font-family: Helvetica, Arial, sans-serif; color: #484c57;">
                <span style= "font-weight: bold;">A successful authorization was made on Coinnext:</span>
                <br /><br />
                <p>Email: {{email}}</p>
                <p>IP: {{ip}}</p>
                <p>Date: {{auth_date}}</p>
                <br /><br />
                <span>Sincerely, The Coinnext Team</span>
              </td>
            </tr>
          </table>
          <table class="footer" cellpadding="0" cellspacing="0" width="100%">
            <tr>
              <td valign="top" style="font-family: Helvetica, Arial, sans-serif; color: #999999; font-size: 12px; padding-left: 10px; padding-right: 10px; padding-bottom: 10px;">
                <span>© Coinnext</span>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>