#globalchat.chatbox
  ul#messages-list.message-list
  .message-post
    - if (user)
      input#chat-message-box(type="text", placeholder="Type here to chat...").chat-message-input
      button#send-message-bt Send
    - else
      p.login-required You need to be logged in to chat. <a href="/login">Login</a>