.chatbox
  ul.message-list
    li.message
      <span class="sender">nanook</span>: Hey there, BUY!
    li.message
      <span class="sender">jason</span>: No man, all Sell!
    li.message
      <span class="sender">jason</span>: Hey there, BUjlmqjsdfklmqjsdflmjqslmfjqlsmdjflmqksjflmqjsdfklmjqslmdfjqlkmsjdflmjqslmdfjqsfklmjqlsmdfY!
  .message-post
    input(type="text", placeholder="Type here to chat...").chat-message-input
    button#send-message-bt Send