- if (!user)
  .footer-cta
    h3.tagline Start trading today and <strong>pay no fees for 90 days</strong>!
    a(href='/signup').cta Get Started Now

footer
  .footer-body
    .wrapper
      .column.logo
        img(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==", alt="Coinnext").coinnext-logo
      .column
        h2 Resources
        ul
          li: a(href='/about') About
          li: a(href='http://support.coinnext.com/') Support Center
          li: a(href='#') Status
          li: a(href='#') API
          li: a(href='#') Jobs
          
      .column
        h2 Policies
        ul
          li: a(href='/security') Security
          li: a(href='/legal/terms') Legal
          li: a(href='/fees') Fees
          
      .column
        h2 Connect
        ul
          li: a(href='http://bitcointalk.org/', target='_blank') Bitcointalk
          li: a(href='http://www.reddit.com/r/coinnext/', target='_blank') Reddit
          li: a(href='http://blog.coinnext.com', target='_blank') Blog
          li: a(href='https://twitter.com/coinnext', target='_blank') Twitter
          li: a(href='irc://irc.freenode.net/coinnext', target='_blank') IRC
          

      .column.risk-disclaimer
        h2 Risk Disclaimer
        p Trading of cryptocurrencies can be considered a high-risk activity, where cryptocurrency prices are volatile, and can swing wildly, from day to day. Please use your extreme judgement when making the decision to buy or sell cryptocurrencies. Coinnext is not soliciting for users to buy or sell cryptocurrencies, as an investment, or for profit. All cryptocurrency trading decisions should be made independently by the user.
          
  .page-foot
    .wrapper
      .copyright © 2014 Coinnext. All rights reserved.
      //.locale-selector
      //  a(href="") English