- if (!user)
  .footer-cta
    h3.tagline Start trading today and <strong>pay no fees for 90 days</strong>!
    a(href='/signup').cta Get Started Now

footer
  .footer-body
    .wrapper
      .column
        h2 Resources
        ul
          li: a(href='http://support.coinnext.com/') Support Center
          li: a(href='/api') API
          li: a(href='/status') Status
      .column
        h2 Policies
        ul
          li: a(href='/security') Security
          li: a(href='/legal/terms') Legal
          li: a(href='/fees') Fees   
      .column
        h2 Community
        ul
          li: a(href='https://bitcointalk.org/index.php?topic=606729.0', target='_blank') BitcoinTalk
          li: a(href='http://www.reddit.com/r/coinnext/', target='_blank') Reddit
          li: a(href='http://blog.coinnext.com', target='_blank') Blog
          li: a(href='https://twitter.com/coinnext', target='_blank') Twitter
      .column.logo
        img(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==", alt="Coinnext").coinnext-logo
        .copyright Copyright © 2014 Coinnext Cryptocurrency Exchange. All rights reserved.