footer
  .footer-body
    .column
      h2 About
      ul
        li: a(href='') Company
        li: a(href='') News
        li: a(href='') Press
        li: a(href='') Security
        li: a(href='') Fees
    .column
      h2 Legal
      ul
        li: a(href='') Terms of Service
        li: a(href='') Privacy Policy
    .column
      h2 Support
      ul
        li: a(href='') Support Center
        li: a(href='') Contact
        li: a(href='') Twitter
  .page-foot
    .wrapper
      .copyright © 2013 Coinnext. All rights reserved.
      .locale-selector
        a(href="") English