footer
  .footer-body
    .wrapper
      .column
        h2 About
        ul
          li: a(href='/fees') Fees
          li: a(href='/legal/terms') Legal
      .column
        h2 Resources
        ul
          li: a(href='http://support.coinnext.com/') Support Center
      .column
        h2 Connect
        ul
          li: a(href='') News
          li: a(href='https://twitter.com/coinnext') Twitter
          
  .page-foot
    .wrapper
      .copyright © 2014 Coinnext. All rights reserved.
      //.locale-selector
      //  a(href="") English