footer
  .footer-body
    .wrapper
      .column
        h2 About
        ul
          li: a(href='/company') Company
          li: a(href='/fees') Fees
          li: a(href='/legal/terms') Legal
      .column
        h2 Resources
        ul
          li: a(href='') Support Center
      .column
        h2 Connect
        ul
          li: a(href='') Blog
          li: a(href='https://twitter.com/coinnext') Twitter
          
          
  .page-foot
    .wrapper
      img(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==", alt="Coinnext").coinnext-logo.bw
      .copyright © 2013 Coinnext. All rights reserved.
      .locale-selector
        a(href="") English