header.page-head
  .wrapper
    a(href="/", title="Return to homepage").site-logo
      img(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==", alt="Coinnext").coinnext-logo
    //.search-bar
    //  form.search-bar-form
    //    i.icon-search
    //    input(type="text", placeholder="Enter Symbol or Name")
    nav.site-nav
      ul.nav
        li: a(href='/', class=(page === 'home' ? 'active' : '')) Home
        li: a(href='/trade', class=(page === 'trade' ? 'active' : '')) Trade
        //li: a(href='/status', class=(page === 'status' ? 'active' : '')) Status
        - if (user)
          li: a(href='/funds', class=(page === 'funds' ? 'active' : '')) Funds
          li.dropdown
            a(href="/settings/preferences", class=(page === 'preferences' ? 'active' : '')).dropdown-toggle
              | #{user.email}
              .caret
            ul.dropdown-menu
              li: a(href="/settings/preferences") Settings
              li: a(href="http://support.coinnext.com") Support
              li: a(href='/logout') Logout
        - else
          nav.auth-nav
            ul.nav
              li: a(href='/login').btn.white Login
              // li: a(href='/signup').btn Open New Account