form#login-form
  label(for="email") E-mail
  input(type="text", name="email", value="")
  label(for="password") Password
  input(type="text", name="password", value="")
  button(type="submit") Login
a(href="/signup") Signup