- if (marketStats)
  .market-ticker
    .con-header
      h2.con-header-title BTC Markets
      // a(href='').edit-ticker <i class='icon-list-ul'></i>
    nav#market-ticker.market-ticker-coins

    .add-coin
      select
        option(val='') Display Exchange
        option(val='CL') CL - CopperLark
        option(val='DVC') DVC - Devcoin
        option(val='MNC') MNC - MinCoin