- if (marketStats)
  .market-ticker
    .con-header
      h2.con-header-title BTC Markets
      // a(href='').edit-ticker <i class='icon-list-ul'></i>
    nav#market-ticker.market-ticker-coins

      ul
        - for (i = 1; i < 20; i++)
          li.market-ticker-coin(data-market-type="", data-market-currency="")
            a(href="#")
              .label
              div(class="rate")
              .move-coin <i class="icon-reorder"></i>

    .add-coin
      select
        option(val='') Display Exchange
        option(val='CL') CL - CopperLark
        option(val='DVC') DVC - Devcoin
        option(val='MNC') MNC - MinCoin