.market-ticker
  .con-header
    h2.con-header-title Exchange / BTC
    a(href='').edit-ticker <i class='icon-list-ul'></i>
  ul.market-ticker-coins
    li.market-ticker-coin
      a(href='', title='Hide Exchange').hide-coin <i class='icon-hide'></i>
      .label LTC
      .rate 0.03509
      .move-coin <i class="icon-reorder"></i>
    li.market-ticker-coin.up
      a(href='', title='Hide Exchange').hide-coin <i class='icon-hide'></i>
      .label NMC
      .rate 0.00736
      .move-coin <i class="icon-reorder"></i>
    li.market-ticker-coin
      a(href='', title='Hide Exchange').hide-coin <i class='icon-hide'></i>
      .label NVC
      .rate 0.02085
      .move-coin <i class="icon-reorder"></i>
    li.market-ticker-coin.up.active
      a(href='', title='Hide Exchange').hide-coin <i class='icon-hide'></i>
      .label PPC
      .rate 0.00525
      .move-coin <i class="icon-reorder"></i>
    li.market-ticker-coin.down
      a(href='', title='Hide Exchange').hide-coin <i class='icon-hide'></i>
      .label FTC
      .rate 0.00054
      .move-coin <i class="icon-reorder"></i>
  .add-coin
    select
      option(val='') Display Exchange
      option(val='CL') CopperLark
      option(val='DVC') Devcoin
      option(val='MNC') MinCoin