- if (user && !user.canTrade())
  .alert.warning
    p 
      | Your account is almost ready. Before we enable trading on your account, we need to verify your email address. <br /> Please click the verification link we have sent to the email address you used to create your account.