- if (user && !user.canTrade())
  .alert.warning
    p 
      | Before we enable trading on your account, we need to verify your email address. <br /> Please click the verification link we have sent to the email address you used to create your account. <br /> If you did not receive a verification link or the link expired, click <a href="/resend" id="resend-verification-link">here</a> to resend the email.

.alert.warning
    p 
      | We are closing down Coinnext on 24th of July. <br />Please withdraw your coins at your earliest convenience. <a href="http://blog.coinnext.com/2014/06/24/closing-down/">See here</a> for more information.
    p 
      | Also, our software is available for purchase, <a href="http://blog.coinnext.com/2014/07/10/coinnext-software-for-sale/">sale details here</a>.