extends ../layout

block content
  #finances.main-content.finances(role='main')
    .wrapper
      .col-left
        ul.sub-nav
          li.active: a(href='/') Funds
          li: a(href='/') Open Orders
          li: a(href='/') Transactions

      .col-right
        .add-wallet.container
          form#add-wallet-form
            select#currency-type(name="currency_type")
              - for currency in currencies
                option(value="#{currency}") #{currency}
            button(type="submit") Create wallet

      .col-center#finances-cnt
        h1.page-title Funds
        ul#wallets.wallets
          include ../templates/wallet