extends ../layout

block content
  .main-content.finances(role='main')
    .wrapper
      aside
        ul.sub-nav
          li: a(href='/') Balance
          li: a(href='/') Open Orders
          li: a(href='/') Transactions

      section.body
        | Finances