extends ../layout

block content
  #finances.main-content.finances(role='main')
    .wrapper
      .col-aside
        .fund-list.container
          .con-header
            .con-header-title Portfolio
          ul.fund-nav
            li.active: a(href='/') Overview
            li: a(href='/') 
              .label BTC
              .balance <span class="amount">900</span> BTC
            li: a(href='/')
              .label LTC
              .balance <span class="amount">900</span> LTC 
          .add-wallet
            form#add-wallet-form
              select#currency-type(name="currency_type")
                option(value="") Add Currency
                - for currency in currencies
                  option(value="#{currency}") #{currency} - Bitcoin

      .col-main#finances-cnt
        #wallets.container
          .con-header
            h3.con-header-title Balances
          table.trade-data
            tr
              th Currency
              th Total Balance
              th Available Balance
              th Value in BTC
            include ../templates/wallet