extends ../layout

block content
  .main-content(role='main')
    .wrapper
      .col-left
        include _market-ticker
      .col-right
        include _chatbox
      .col-center
        #news.container
          .con-header
            h3.con-header-title News
        #market-list.container
          .con-header
            h3.con-header-title Market List
          table.trade-table
            tr
              th Market
              th Currency
              th Last Trade
              th High
              th Low
              th Volume
            tr
              td LTC/BTC
              td Litecoin
              td 0.02760000
              td 0.02909087
              td 0.00000110
              td 341 BTC
            tr
              td NMC/BTC
              td Namecoin
              td 0.00661062
              td 0.00708289
              td 0.00647612
              td 9.22 BTC
            tr
              td NVC/BTC
              td Novacoin
              td 0.01903232
              td 0.01999798
              td 0.01903232
              td 1.53 BTC
            tr
              td PPC/BTC
              td Peercoin
              td 0.00505847
              td 0.00529891
              td 0.00476400
              td 15.5 BTC
            tr
              td FTC/BTC
              td Feathercoin
              td 0.00042010
              td 0.00044944
              td 0.00042005
              td 6.45 BTC

