.main-content.auth(role='main')
  .wrapper
    .auth-box
      h1 Login
      form#login-form(action="/login")
      	#error-cnt
        .control-group
          input#login-email(type="email", placeholder="Email", tabindex="1")
          input#login-password(type="password", placeholder="Password", tabindex="2")
          input#login-gauth(type="text", name="gauth_pass", value="")
        input#login-btn(type="submit", value="Log In", tabindex="3").btn
    .auth-links
      a(href='') Lost your password?