extends ../layout

block content
  .main-content(role='main')
    .wrapper 
      - if (user.gauth_data)
        a(href="#{user.gauth_data.google_auth_qr}", target="_blank")
          img(src="#{user.gauth_data.google_auth_qr}")
        p#qr-code #{user.gauth_data.base32}

      a#qr-gen-bt(href="/generate_gauth") Generate Google Authenticator code