extends ../layout

block content
  .main-content.auth(role='main')
    .wrapper
      .auth-box
        h1 Create Account
        form#signup-form(action="/user")
          #error-cnt
          .control-group
            input#signup-email(type="email", name="email", placeholder="Email", tabindex="1")
            input#signup-password(type="password", name="password" placeholder="Password", tabindex="2")
            input(type="password", name="repeat_password" placeholder="Confirm Password", tabindex="3")
          input#login-btn(type="submit", value="Create Account", tabindex="4")
          p.terms
            | By creating an account, <br />you agree to our <a href="/">Terms of service</a>.
