extends ../layout

block content
  .main-content(role='main')
    .wrapper
      .col-left
        include _market-ticker
      .col-right
        .coin-stats
          table.trade-data
            tr.last-price
              th Last Price:
              td 0.00525 BTC <span class="change down">-4.81%</span>
            tr.high-price
              th 24hr High:
              td 0.00525 BTC
            tr.low-price
              th 24hr Low:
              td 0.00525 BTC
            tr.volume
              th Volume:
              td 1392 PPC / 291 BTC
        include _chatbox

      .col-center
        h1.market-title <b>Peercoin</b> to <b>Bitcoin</b> Exchange
        .container
          .graph

        // Order Box
        #order-boxes.wrap
          .order-box-wrap
            #buy-box.order-box
              .con-header
                h3.con-header-title Buy PPC
                .order-box-balance <a href="#" class="amount">0 BTC</a> Available
              .order-box-body
                .market-type
                  label
                    input(type='radio', name='buy-type', checked)
                    i Market Order
                  label
                    input(type='radio', name='buy-type')
                    i Limit Order
                .market-order
                  label I want to Spend:
                  .currency-input
                    input(type="text")
                    .overlay-amount BTC
                  table.order-overview
                    tr.subtotal
                      th Total:
                      td <span class="amount">5 BTC</span>
                    tr.fee
                      th Fee:
                      td <span class="amount">0.002 BTC</span>
                    tr.to-receive
                      th Approx. PPC to receive:
                      td <span class="amount">0.11471265 PPC</span>
                  .confirm-order
                    button Buy PPC

          .order-box-wrap
            #sell-box.order-box
              .con-header
                h3.con-header-title Sell PPC
                .order-box-balance <a href="#" class="amount">0893892039 PPC</a> Available
              .order-box-body
                .market-type
                  label
                    input(type='radio', name='sell-type')
                    i Market Order
                  label
                    input(type='radio', name='sell-type', checked)
                    i Limit Order
                .limit-order
                  label Amount to Sell:
                  .currency-input
                    input(type="text")
                    .overlay-amount PPC
                  label Price per PPC:
                  .currency-input
                    input(type="text")
                    .overlay-amount BTC
                  table.order-overview
                    tr.to-receive 
                      th Total:
                      td <span class="amount">0 BTC</span>
                  .confirm-order
                    button Sell PPC
                .market-order
                  label I want to Sell:
                  .currency-input
                    input(type="text")
                    .overlay-amount PPC
                  table.order-overview
                    tr.subtotal 
                      th Total:
                      td <span class="amount">0 PPC</span>
                    tr.fee
                      th Fee:
                      td <span class="amount">0 PPC</span>
                    tr.to-receive
                      th Approx. BTC to receive:
                      td <span class="amount">0 BTC</span>
                  .confirm-order
                    button Buy PPC

        // Open Orders
        #open-orders.container
          .con-header
            h3.con-header-title Open Orders
          .table-wrap
            table.trade-data
              tr
                th Date
                th Type
                th Price
                th PPC
                th BTC
                th Action
              tr.sell
                td.trade-date 18.12.13 05:31
                td.trade-type Sell
                td.trade-price 1
                td.trade-amount 2
                td.trade-total 2
                td.trade-action <a href="#">Cancel</a>
              tr.sell
                td.trade-date 18.12.13 05:30
                td.trade-type Sell
                td.trade-price 0.5
                td.trade-amount 1
                td.trade-total 0.5
                td.trade-action <a href="#">Cancel</a>
        
        // Order Book
        #order-book.wrap
          .order-book-wrap
            #sell-orders.order-book
              .con-header
                h3.con-header-title Sell Orders
                .order-book-total Total: 0893892039 PPC
              .table-wrap
                table.trade-data
                  thead
                    tr
                      th Price
                      th PPC
                      th BTC
                  tbody
                    tr
                      td 0.00501
                      td 42.38924071
                      td 0.21237009
                    tr
                      td 0.00504
                      td 1.1821
                      td 0.19942049
                    tr
                      td 0.00505
                      td 1.1821
                      td 0.19942049
                    tr
                      td 0.00506
                      td 1.82102910
                      td 0.19942049
                    tr
                      td 0.00507
                      td 1.82102910
                      td 0.19942049
                    tr
                      td 0.00508
                      td 1.82102910
                      td 0.19942049
                    tr
                      td 0.00509
                      td 1.82102910
                      td 0.19942049
                    tr
                      td 0.00509
                      td 1.82102910
                      td 0.19942049
                    tr
                      td 0.00509
                      td 1.82102910
                      td 0.19942049
                    tr
                      td 0.00509
                      td 1.82102910
                      td 0.19942049
                    tr
                      td 0.00509
                      td 1.82102910
                      td 0.19942049
                    tr
                      td 0.00509
                      td 1.82102910
                      td 0.19942049
                    tr
                      td 0.00509
                      td 1.82102910
                      td 0.19942049
                    tr
                      td 0.00509
                      td 1.82102910
                      td 0.19942049
                    tr
                      td 0.00509
                      td 1.82102910
                      td 0.19942049
                    tr
                      td 0.00509
                      td 1.82102910
                      td 0.19942049
                    tr
                      td 0.00509
                      td 1.82102910
                      td 0.19942049
                    tr
                      td 0.00509
                      td 1.82102910
                      td 0.19942049
                    tr
                      td 0.00509
                      td 1.82102910
                      td 0.19942049
                    tr
                      td 0.00509
                      td 1.82102910
                      td 0.19942049
                    tr
                      td 0.00509
                      td 1.82102910
                      td 0.19942049
                    tr
                      td 0.00509
                      td 1.82102910
                      td 0.19942049
                    tr
                      td 0.00509
                      td 1.82102910
                      td 0.19942049
                    tr
                      td 0.00509
                      td 1.82102910
                      td 0.19942049
                    tr
                      td 0.00509
                      td 1.82102910
                      td 0.19942049
                    tr
                      td 0.00509
                      td 1.82102910
                      td 0.19942049
                    tr
                      td 0.00509
                      td 1.82102910
                      td 0.19942049
                    tr
                      td 0.00509
                      td 1.82102910
                      td 0.19942049
                    tr
                      td 0.00509
                      td 1.82102910
                      td 0.19942049
                    tr
                      td 0.00509
                      td 1.82102910
                      td 0.19942049
                    tr
                      td 0.00509
                      td 1.82102910
                      td 0.19942049
                    tr
                      td 0.00509
                      td 1.82102910
                      td 0.19942049
                    tr
                      td 0.00509
                      td 1.82102910
                      td 0.19942049

          .order-book-wrap
            #buy-orders.order-book
              .con-header
                h3.con-header-title Buy Orders
                .order-book-total Total: 673 BTC
              table.trade-data
                thead
                  tr
                    th Price
                    th PPC
                    th BTC
                tbody
                  tr
                    td 0.005
                    td 42.38924071
                    td 0.21237009
                  tr
                    td 0.00499
                    td 1.1821
                    td 0.19942049
                  tr.wall
                    td 0.00498
                    td 50
                    td 0.19942049
                  tr
                    td 0.00497
                    td 1.82102910
                    td 0.19942049
                  tr
                    td 0.00496
                    td 1.82102910
                    td 0.19942049
                  tr
                    td 0.00495
                    td 1.82102910
                    td 0.19942049
                  tr
                    td 0.00494
                    td 1.82102910
                    td 0.19942049

        // Trade History
        #trade-history.trade-history.container
          .con-header
            h3.con-header-title Trade History
          .table-wrap
            table.trade-data
              tr
                th Date
                th Type
                th Price
                th PPC
                th BTC
              tr.sell
                td.trade-date 18.12.13 04:23
                td.trade-type Sell
                td.trade-price 0.0046
                td.trade-amount 19.8594
                td.trade-total 0.09135324
              tr.sell
                td.trade-date 18.12.13 04:22
                td.trade-type Sell
                td.trade-price 0.0046
                td.trade-amount 19.8594
                td.trade-total 0.09135324
              tr.sell
                td.trade-date 18.12.13 04:22 
                td.trade-type Sell
                td.trade-price 0.0046
                td.trade-amount 19.8594
                td.trade-total 0.09135324
              tr.sell
                td.trade-date 18.12.13 04:22
                td.trade-type Sell
                td.trade-price 0.0046
                td.trade-amount 15.8796
                td.trade-total 0.07304616
              tr.sell
                td.trade-date 18.12.13 04:21
                td.trade-type Sell
                td.trade-price 0.00462
                td.trade-amount 0.33544
                td.trade-total 0.00154973
              tr.sell
                td.trade-date 18.12.13 04:19
                td.trade-type Sell
                td.trade-price 0.0046
                td.trade-amount 2.8
                td.trade-total 0.01288
              tr.buy
                td.trade-date 18.12.13 04:18
                td.trade-type Buy
                td.trade-price 0.00462
                td.trade-amount 108.254
                td.trade-total 0.50013348
              tr.sell
                td.trade-date 18.12.13 04:18
                td.trade-type Sell
                td.trade-price 0.0046
                td.trade-amount 300
                td.trade-total 1.38
              tr.sell
                td.trade-date 18.12.13 04:17
                td.trade-type Sell
                td.trade-price 0.00461
                td.trade-amount 15.9911
                td.trade-total 0.07371897
              tr.sell
                td.trade-date 18.12.13 04:17
                td.trade-type Sell
                td.trade-price 0.00461
                td.trade-amount 73
                td.trade-total 0.33653
              tr.sell
                td.trade-date 18.12.13 04:17
                td.trade-type Sell
                td.trade-price 0.00461
                td.trade-amount 7.54056
                td 0.03476198
              tr.sell
                td.trade-date 18.12.13 04:15
                td.trade-type Sell
                td.trade-price 0.00461
                td.trade-amount 2.18607
                td.trade-total 0.01007778
              tr.sell
                td.trade-date 18.12.13 04:15
                td.trade-type Sell
                td.trade-price 0.00461
                td.trade-amount 2.18822
                td.trade-total 0.01008769
              tr.buy
                td.trade-date 18.12.13 04:15
                td.trade-type Buy
                td.trade-price 0.00462
                td.trade-amount 0.81589
                td.trade-total 0.00376941
              tr.buy
                td.trade-date 18.12.13 04:15
                td.trade-type Buy
                td.trade-price 0.00462
                td.trade-amount 2
                td.trade-total 0.00924
              tr.sell
                td.trade-date 18.12.13 04:15
                td.trade-type Sell
                td.trade-price 0.00461
                td.trade-amount 2.18822
                td.trade-total 0.01008769
              tr.buy
                td.trade-date 18.12.13 04:15
                td.trade-type Buy
                td.trade-price 0.00462
                td.trade-amount 0.81589
                td.trade-total 0.00376941
              tr.buy
                td.trade-date 18.12.13 04:15
                td.trade-type Buy
                td.trade-price 0.00462
                td.trade-amount 2
                td.trade-total 0.00924
              tr.sell
                td.trade-date 18.12.13 04:15
                td.trade-type Sell
                td.trade-price 0.00461
                td.trade-amount 2.18822
                td.trade-total 0.01008769
              tr.buy
                td.trade-date 18.12.13 04:15
                td.trade-type Buy
                td.trade-price 0.00462
                td.trade-amount 0.81589
                td.trade-total 0.00376941
              tr.buy
                td.trade-date 18.12.13 04:15
                td.trade-type Buy
                td.trade-price 0.00462
                td.trade-amount 2
                td.trade-total 0.00924
              tr.sell
                td.trade-date 18.12.13 04:15
                td.trade-type Sell
                td.trade-price 0.00461
                td.trade-amount 2.18822
                td.trade-total 0.01008769
              tr.buy
                td.trade-date 18.12.13 04:15
                td.trade-type Buy
                td.trade-price 0.00462
                td.trade-amount 0.81589
                td.trade-total 0.00376941
              tr.buy
                td.trade-date 18.12.13 04:15
                td.trade-type Buy
                td.trade-price 0.00462
                td.trade-amount 2
                td.trade-total 0.00924
              tr.sell
                td.trade-date 18.12.13 04:15
                td.trade-type Sell
                td.trade-price 0.00461
                td.trade-amount 2.18822
                td.trade-total 0.01008769
              tr.buy
                td.trade-date 18.12.13 04:15
                td.trade-type Buy
                td.trade-price 0.00462
                td.trade-amount 0.81589
                td.trade-total 0.00376941
              tr.buy
                td.trade-date 18.12.13 04:15
                td.trade-type Buy
                td.trade-price 0.00462
                td.trade-amount 2
                td.trade-total 0.00924