.auth-box
  width 300px
  margin 0 auto
  border 1px solid #e0e5e8
  padding 20px
  background #fff
  border-radius 1px
  h1
    text-transform uppercase
    font-size 20px
    margin 0
    border-bottom 1px solid #eee
    text-align center
    margin 0 -20px 20px -20px
    line-height 1
    color #13294e
    font-weight 500
    padding 0 0 20px 0
  input
    width 100%
  .control-group
    input
      border-radius 1px
      margin-bottom 5px
      
  input[type="submit"]
    margin-top 10px
    btn($teal)
  .error
    color #da4444
  label.error
    font-size 13px
    margin 0 0 10px 0
    display block
  p
    font-size 12px
    color #999
    text-align center
    margin 0
    padding 0
      
.auth .wrapper
  padding-top 100px
  padding-bottom 100px

.auth-links
  text-align center
  margin-top 20px
  a
    font-size 14px
