.auth-box
  width 300px
  margin 0 auto
  border 1px solid #e0e5e8
  padding 20px
  background #fff
  border-radius 1px
  h1
    text-transform uppercase
    font-size 20px
    margin 0
    border-bottom 1px solid #ecedef
    text-align center
    margin 0 -20px 20px -20px
    line-height 1
    letter-spacing .3px
    color #13294e
    font-weight 500
    padding 0 0 20px 0
  input
    width 100%
  .control-group
    input
      border-radius 1px
      margin-bottom 5px
      
  input[type="submit"]
    btn($teal)
    font-weight bold
  #error-cnt
  .error
    color #da4444
    font-size 13px
    margin 0 0 10px 0
    display block
  p
    font-size 11px
    color #999
    margin 0
    margin-top 10px
    text-align center
    padding 0
      
.auth .wrapper
  padding-top 80px
  padding-bottom 100px

.auth-links
  text-align center
  margin-top 20px
  a
    font-size 14px

.input-prepend
  display inline-block
  width 100%
  position relative
  white-space nowrap
  .add-on
    position absolute
    line-height 38px
    top 0px
    left 10px
    color #a9a9a9
    z-index 999
  input
    padding-left 30px
 