/* Chatbox */
.chatbox
  @extends .container
  width 300px
  height 400px
  font-size 13px

.message-list
  reset-list()
  padding 10px
  overflow-y scroll
  position absolute
  width 100%
  bottom 40px
  top 0

.message
  margin-bottom 3px
  overflow hidden
  word-wrap break-word
  .sender
    font-weight bold
    color $blue

.message-post
  position absolute
  bottom 0
  width 100%
  height 40px
  overflow hidden
  border-top 1px solid #e0e0e0

  .login-required
    padding 0 10px
    line-height 40px
    margin 0

  .chat-message-input
    border 0
    background transparent
    height 40px
    font-size 13px
    width 100%
    padding-right 60px
  #send-message-bt
    btn($blue)
    padding 0
    position absolute
    top 0
    right 0
    width 50px
    height 30px
    margin 5px
    font-size 13px
    z-index 1