html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em,
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup,
menu, footer, header, nav, section, summary, time, mark, audio, video
  margin 0
  padding 0
  border 0

body
  background #eceef1
  color #484c57
  font-family "Helvetica Neue", Helvetica, Arial, sans-serif
  font-size 100%
  text-align center

.container
  background #fff
  border 1px solid #d5d5d5
  border-radius 3px
  padding 40px
  margin 0 auto
  margin-top 15%
  display inline-block

h1
  margin 0 0 10px 0
  color #14294e

label
  font-weight 500

label, a
  color #549cd5

a
  text-decoration none
  &:hover
    text-decoration underline

p
  font-size 1.125em
  line-height 1.5em
  font-weight 300
  margin 0