*
  -moz-box-sizing border-box
  box-sizing border-box

input[type="text"]
input[type="email"]
input[type="password"]
input[type="number"]
input[type="url"]
  border 1px solid $border-color
  font-size 14px
  padding 10px
  background #fff
  border-radius 2px
  position relative
  transition all .1s linear
  box-shadow inset 0 1px 1px 0 rgba(#000,.05)
  &:focus
    border-color $blue
    box-shadow 0 0 5px rgba($blue,0.5)
    z-index 1

input[type="submit"]
  user-select none

input[readonly]
  cursor not-allowed

input
button:focus
  outline none

input.error
  color #da4444
  border-color #da4444

label.error
  color #da4444
  margin-top 3px
  display block

fieldset
  border 0
  margin 0
  padding 0
  margin-bottom 5px
  input[type="text"]
  input[type="password"]
  input[type="email"]
  textarea
  select
    width 440px
    max-width 100%
    margin 0

  &.actions
    margin-bottom 0
    span
      padding-left 5px

input[type="radio"]
input[type="checkbox"]
  margin 1px 0 0
  line-height normal

.radio
.checkbox
  vertical-align middle
  display block
  padding-left 20px
  margin 10px 0
  label
    display inline
    margin-bottom 0
    cursor pointer
  input[type="radio"]
  input[type="checkbox"]
    float left
    margin-left -20px

.hidden
  display none

reset-list()
  list-style none
  padding 0
  margin 0

#error-cnt
  color #da4444
  border-color #da4444
  display block
  margin 5px auto

btn(color)
  color #fff
  position relative
  border-radius 2px
  background-image linear-gradient(rgba(#fff,.1), transparent)
  background-color color
  padding 7px 12px
  border 0
  font-size 14px
  line-height 14px
  letter-spacing .4px
  display inline-block
  font-weight 700
  user-select none
  -webkit-font-smoothing antialiased
  transition all .2s linear
  &:hover
    color #fff
    background lighten(color, 20%)
    text-decoration none
  &:active
    top 1px

  if color is white
    background transparent
    background-image none
    color #999
    border 1px solid #d5d5d5
    text-shadow none
    &:hover
      background-color transparent
      color $blue
      border-color $blue

.btn
  btn($teal)

.alert
  overflow hidden
  padding 15px
  margin-bottom 10px
  border-radius 3px
  p
    margin-bottom 0
    text-align center
  &.warning
    border 1px solid #efe68c
    border-bottom 1px solid darken(#efe68c, 20%)
    background #fcf29d
    p
      color #5e5d2e

a
  text-decoration none
  color $blue
  transition color .1s linear
  &:hover
    text-decoration underline

p
  padding 0
  margin 0 0 10px 0

.wrapper
  max-width 1600px
  margin 0 auto
  padding 0 10px

.wrap
  clearfix()
  overflow hidden

.container
  clearfix()
  position relative
  margin-bottom 10px
  background #fff
  border 1px solid #e3e6eb
  border-bottom 1px solid #d6dae1
  overflow hidden
  border-radius 3px

.con-header
  clearfix()
  background linear-gradient(#fafafa, #f2f4f5)
  background #F9F9FB
  padding 7px 10px
  border-bottom 1px solid #e0e0e0
  position relative
  z-index 1

.con-header-title
  margin 0
  display inline
  text-shadow 0 1px 0 #fff
  font-size 15px
  line-height 15px
  font-weight 700
  i
    top 1px
    position relative

.con-body
  padding 10px
  hr
    margin-left -10px
    margin-right -10px

.currency-input
  position relative
  display inline-block

.currency-input
.address-input
  input
    width 100%
    z-index 1
    padding 0 8px
    height 30px
    position relative
    background #fff

/* Dropdown */
.dropdown
  position relative
  .dropdown-toggle
    &:hover
      .caret
        border-top-color inherit
    .caret
      margin-left 5px
  .dropdown-menu
    reset-list()
    transition opacity .2s ease-out
    background #fff
    border 1px solid $border-color
    box-shadow 0 1px 3px rgba(#000,.05)
    border-radius 0 0 3px 3px
    border-top 0
    font-size 14px
    position absolute
    top 49px
    opacity 0
    left -9999px
    width 180px
    z-index 0
    right 0
    li
      float none
    a
      padding 10px
      display block
      border-top 1px solid #ecedef
      font-weight 500
      color $lightgray
      font-size 12px
      text-transform uppercase
      &:hover
        color $blue
        text-decoration none
      &:active
        color #14294e
      
  &:hover
    .dropdown-toggle
      color $blue
      .caret
        border-top-color inherit
    .active
      color $darkblue
    .dropdown-menu
      margin 0
      left auto
      opacity 1
      z-index 99

.caret
  display inline-block
  width 0
  height 0
  border 4px solid transparent
  border-top-color #999
  content ""

/* Sub Nav */
.sub-nav
  reset-list()
  border 1px solid #e3e6eb
  border-bottom 1px solid #d1d5dd
  border-radius 3px
  background #fff
  li
    border-bottom 1px solid #ecedef
    position relative
    &:last-child
      border 0
    &.active a
      color #fff
      border-radius 2px
      color $darkblue
      font-weight 700
      &:hover
        color $darkblue
    &.active
      a
        background $blue
        margin 3px
        padding 7px
        color #fff
        &:hover
          color #fff

    a
      padding 10px
      display block
      font-weight 500
      color $lightgray
      font-size 12px
      text-transform uppercase
      &:hover
        color $blue
        text-decoration none
      &:active
        color #14294e

/* Table */
th
  text-align left
