*
  box-sizing border-box

input[type="text"]
input[type="email"]
input[type="password"]
input[type="number"]
input[type="url"]
  border 1px solid #ddd
  font-size 14px
  padding 10px
  background #fff
  margin-top -1px
  position relative
  transition all .1s linear
  &:focus
    background #f9f9f9
    z-index 1

input[readonly]
  cursor not-allowed

input:focus
  outline none

reset-list()
  list-style none
  padding 0
  margin 0

btn(color)
  color #fff
  border-radius 1px
  background color
  padding 10px 20px
  text-transform uppercase
  border 0
  font-size 12px
  transition all .1s linear
  &:hover
    color #fff
    background darken(color, 30%)

a
  text-decoration none
  color $blue
  transition color .1s linear
  &:hover
    text-decoration underline

p
  margin-top 0
  padding 0
  margin-bottom 20px

.container
  clearfix()
  position relative
  margin-bottom 10px
  background #fff
  border 1px solid #e0e5e8
  overflow hidden
  border-radius 2px

.wrap
  clearfix()

/* Dropdown */
.dropdown
  position relative
  .dropdown-toggle
    &:hover
      .caret
        border-top-color inherit
    .caret
      margin-left 5px
  .dropdown-menu
    reset-list()
    transition opacity .2s ease-out
    background #fff
    border 1px solid #e0e5e8
    border-top 0
    font-size 14px
    position absolute
    top 49px
    opacity 0
    left -9999px
    width 180px
    z-index 0
    right 0
    a
      padding 12px
      display block
      border-top 1px solid #ecedef
      font-weight 500
      color #999
      font-size 12px
      text-transform uppercase
      &:hover
        color $blue
        text-decoration none
      &:active
        color #14294e
      
  &:hover
    .dropdown-toggle
      color $blue
      .caret
        border-top-color inherit
    .active
      color $darkblue
    .dropdown-menu
      margin 0
      left auto
      opacity 1
      z-index 99

.caret
  display inline-block
  width 0
  height 0
  border 4px solid transparent
  border-top-color #999
  content ""

/* Sub Nav */
.sub-nav
  reset-list()
  background #fff
  border-radius 2px
  overflow hidden
  border 1px solid #e0e5e8
  width 200px
  li
    border-bottom 1px solid #ecedef
    &:last-child
      border 0
    a
      padding 12px
      display block
      font-weight 500
      color #999
      font-size 12px
      text-transform uppercase
      &:hover
        color $blue
        text-decoration none
      &:active
        color #14294e

/* Table */
th
  text-align left
