@import 'nib'
@import 'vendor/normalize.css'
@import 'vendor/jquery.jgrowl.css'
@import 'font'

$teal = #72b54c
$blue = #549cd5
$darkblue = #14294e

$border-color = #d5d5d5
$con-header-bg = #f2f4f5
$bgcolor = #f6f7f8

@import 'framework'

body
  min-width 1000px
  background $bgcolor
  color #5f6a7d
  -webkit-font-smoothing antialiased
  font 14px "Helvetica Neue", Helvetica, Arial, sans-serif

/* Header */
.page-head
  clearfix()
  position relative
  background #fff
  height 50px
  border-bottom 1px solid $border-color
  width 100%

.site-logo
  float left
  margin 12px 10px 12px 0
  transition opacity .2s ease-out
  &:hover
    opacity .8

.coinnext-logo
  height 25px
  width 146px
  display block
  image '/img/logo.png' auto 25px
  background-repeat no-repeat
  &.bw
    image '/img/bw_logo.png' auto 12px

.nav
  reset-list()

.site-nav
.auth-nav
  clearfix()
  float right
  &> li
    float left
    white-space nowrap
  &> li > a
    display block
    height 49px
    line-height 50px
    border-left 1px solid #ecedef
    border-right 1px solid #ecedef
    margin-left -1px
    font-weight 500
    padding 0 20px
    color #999
    font-size 12px
    text-transform uppercase
    position relative
    &:hover
      color $blue
      text-decoration none
    &:active
    &.active
      color #14294e
    &.active
      &:before
        content ""
        border-left 9px solid transparent
        border-right 9px solid transparent
        border-bottom 9px solid $border-color
        display inline-block
        left 50%
        margin-left -9px
        position absolute
        vertical-align top
        bottom -1px
      &:after
        content ""
        border-left 8px solid transparent
        border-right 8px solid transparent
        border-bottom 8px solid $bgcolor
        display inline-block
        left 50%
        margin-left -8px
        position absolute
        vertical-align top
        bottom -1px

.auth-nav
  margin 0 5px
  .btn
    color #fff
    background $teal
    height 25px
    line-height 25px
    border-radius 1px
    margin 12px 5px
    padding 0 20px
    border 0
    font-size 12px
    transition all .1s linear
    &:hover
      color #fff
      background darken(#8BC26C, 30%)
    &.white
      background transparent
      color #999
      border 1px solid #ecedef
      line-height 23px
      &:hover
        color $blue
        border-color $blue
      &:active
        color #14294e

.btn
  btn($teal)

/* Body */
.main-content
  clearfix()
  margin 15px 0

/* 2 Column */
.col-aside
  float left
  width 250px
.col-main
  margin-left 260px

/* 3 Column */
.col-left
  float left
  width 200px
.col-center
  margin-left 210px
  margin-right 310px
.col-right
  float right
  width 300px

/* Footer */

.footer-body
  background #fff
  border-top 1px solid $border-color
  clearfix()
  .coinnext-logo
    float left
    margin 20px
  .column
    margin-left 20px
    padding 10px
    float left
    h2
      text-transform uppercase
      font-size 14px
      color #999
      font-weight 500
      padding 2px
      margin 0 0 5px 0
    ul
      reset-list()
      li
        a
          padding 2px
          display block

.page-foot
  clearfix()
  background darken(#13294e, 50%)
  color #fff
  font-size 12px
  padding 15px 0
  .coinnext-logo
    float left
    width 75px
    margin-right 5px
    height 15px
  .copyright
    letter-spacing .3px
  .copyright
  .locale-selector
    display inline-block
  .locale-selector
    float right
    margin-left 50px

@import 'auth'
@import 'chat'
@import 'trade'
@import 'wallets'
