@import 'nib'
@import 'vendor/normalize.css'
@import 'vendor/jquery.jgrowl.css'
@import 'font'

$teal = #3eae5f
$blue = #549cd5
$darkblue = #14294e
$lightgray = #a7abb1

$border-color = #d1d5dd
$con-header-bg = #f2f4f5
$bgcolor = #f6f7f8

$text-color = #2d3441

@import 'framework'

html
  background #0a1527

body
  min-width 1000px
  background $bgcolor
  color #484c57
  -webkit-font-smoothing antialiased
  font 14px "Helvetica Neue", Helvetica, Arial, sans-serif

::-moz-selection
  color #fff
  background $blue
  text-shadow none

::selection
  color #fff
  background $blue
  text-shadow none

audio
canvas
img
svg
video
  vertical-align middle

textarea
  resize vertical

/* Pace */
.pace .pace-progress
  background $blue
  position absolute
  z-index 2000
  top 49px
  left 0
  height 2px
  transition width 1s

.pace-inactive
  display none

/* Header */
.page-head
  clearfix()
  position relative
  background #fff
  height 50px
  border-bottom 1px solid $border-color
  width 100%

.site-logo
  float left
  margin 12px 10px 12px 0
  user-select none
  transition opacity .2s ease-out
  &:hover
    opacity .8

.coinnext-logo
  height 25px
  width 146px
  display block
  image '/img/logo.png' auto 25px
  background-repeat no-repeat

.nav
  reset-list()

.site-nav
.auth-nav
  float right
  .nav
    clearfix()
    &> li
      float left
      white-space nowrap
    &> li > a
      display block
      height 49px
      line-height 50px
      border-left 1px solid #ecedef
      border-right 1px solid #ecedef
      margin-left -1px
      font-weight 500
      padding 0 20px
      color $lightgray
      font-size 12px
      text-transform uppercase
      position relative
      &:hover
        color $blue
        text-decoration none
      &:active
      &.active
        color #14294e
      &.active
        &:before
          content ""
          border-left 9px solid transparent
          border-right 9px solid transparent
          border-bottom 9px solid $border-color
          display inline-block
          left 50%
          margin-left -9px
          position absolute
          vertical-align top
          bottom -1px
        &:after
          content ""
          border-left 8px solid transparent
          border-right 8px solid transparent
          border-bottom 8px solid $bgcolor
          display inline-block
          left 50%
          margin-left -8px
          position absolute
          vertical-align top
          bottom -1px

.auth-nav
  margin 0 5px
  .nav
    .btn
      btn($teal)
      height 25px
      line-height 25px
      margin 12px 5px
      padding 0 20px
      font-size 12px
      &.white
        btn(white)
        padding 0 20px
        font-size 12px
        line-height 23px

/* Body */
.main-content
  clearfix()
  margin 10px 0

.content
  margin 10px

hr
  margin 10px 0
  border 0
  border-top 1px solid #ecedef

/* 1 Col */
.one-col
  width 900px

/* 2 Column */
.col-aside
  float left
  width 250px
.col-main
  margin-left 260px

@media only screen and (max-width: 768px)
  .col-aside
    float: none
    width: 100%
  .col-main
    margin 10px 0 0 0

/* 3 Column */
.col-left
  float left
  width 200px
.col-center
  margin-left 210px
  margin-right 310px
.col-right
  float right
  width 300px

/* Footer */
.footer-body
  background #fff
  border-top 1px solid $border-color
  clearfix()
  .column
    padding 20px
    margin-right 50px
    float left
    h2
      text-transform uppercase
      font-size 13px
      color $text-color
      font-weight 500
      padding 2px
      margin 0
    ul
      reset-list()
      li
        a
          padding 2px
          color $lightgray
          display block
          &:hover
            color $blue
            text-decoration none

.page-foot
  clearfix()
  background #13294e
  color #cad0d6
  font-size 12px
  padding 15px 0
  .copyright
    letter-spacing .3px
  .copyright
  .locale-selector
    display inline-block
  .locale-selector
    float right
    margin-left 50px

.announcement-list
  reset-list()
.announcement-item
  clearfix()
  padding 6px 10px
  margin-top 5px
  .time
  .title
    float left
  .time
    margin-right 10px
  &:first-child
    margin 0
  &:nth-child(even)
    background-color #f9f9f9

.fees
  th
    width 200px

@import 'auth'
@import 'chat'
@import 'trade'
@import 'wallets'
@import 'static'
