@import 'nib'
@import 'vendor/normalize.css'
@import 'font'

*
  box-sizing border-box

body
  background #f6f7f8
  color #717171
  -webkit-font-smoothing antialiased
  font 1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif

input[type="text"]
input[type="email"]
input[type="password"]
input[type="number"]
input[type="url"]
  border 1px solid #ddd
  font-size 14px
  padding 10px
  background #fff
  margin-top -1px
  position relative
  transition all .1s linear
  &:focus
    background #f9f9f9
    z-index 1

input[readonly]
  cursor not-allowed

input:focus
  outline none

$teal = #8BC26C
$blue = #539bd3

btn(color)
  color #fff
  border-radius 1px
  background color
  padding 10px 20px
  text-transform uppercase
  border 0
  font-size 12px
  transition all .1s linear
  &:hover
    color #fff
    background darken(color, 30%)

a
  text-decoration none
  color #539bd3
  transition color .1s linear
  &:hover
    color #13294e

p
  margin-top 0
  padding 0
  margin-bottom 20px

.wrapper
  max-width 1100px
  margin-right auto
  margin-left auto
  padding-left 24px
  padding-right 24px

/* Header */
.page-head
  background #fff
  height 50px
  border-bottom 1px solid #e0e5e8
  width 100%
  clearfix()

.site-logo
  float left
  margin 12px 10px

.coinnext-logo
  height 25px
  width 146px
  display block
  image '/img/logo.png' auto 25px
  background-repeat no-repeat

.nav
  list-style none
  margin 0
  padding 0

.site-nav
.auth-nav
  clearfix()
  float right
  &> li
    float left
  &> li a
    display block
    height 50px
    line-height 50px
    border-left 1px solid #ecedef
    border-right 1px solid #ecedef
    margin-left -1px
    font-weight 500
    padding 0 20px
    color #999
    font-size 12px
    text-transform uppercase
    &:hover
      color #539bd3
    &:active
      color #14294e
.auth-nav
  margin 0 5px
  .btn
    color #fff
    background darken(#8BC26C, 15%)
    height 25px
    line-height 25px
    border-radius 1px
    margin 12px 5px
    padding 0 20px
    border 0
    font-size 12px
    transition all .1s linear
    &:hover
      color #fff
      background darken(#8BC26C, 30%)
    &.white
      background transparent
      color #999
      border 1px solid #ecedef
      line-height 23px
      &:hover
        color #539bd3
        border-color #539bd3
      &:active
        color #14294e

/* Footer */
.page-foot
  clearfix()
  background darken(#13294e, 50%)
  color #fff
  font-size 12px
  padding-top 20px

@import 'auth'