/* Terms */
.last-updated
  font-style italic
  background #fafbd2
  border-radius 2px
  display inline-block

h2
  font-size 16px
  margin 0 0 10px

.content
  ol
  ul
    padding-left 20px

#qr-gen-bt
  btn($teal)
  display inline-block

.settings
  .con-body
    padding 15px 10px

.appstore
  background transparent url('/img/appstore-sprite.png') no-repeat
  display inline-block
  overflow hidden
  text-indent -999px
  margin-right 10px

.appstore-apple
  height 40px
  width 135px
  background-position 0 0

.appstore-google
  width 128px
  height 45px
  background-position 0 -40px