/* Terms */
.last-updated
  font-style italic
  background #fafbd2
  border-radius 2px
  display inline-block

h2
  font-size 16px
  margin 0 0 10px

.page-title
  color $text-color
  margin 0 0 10px 0
  font-size 24px
  line-height 16px
  font-weight 500

.content
  ol
  ul
    padding-left 20px

#qr-gen-bt
  btn($teal)
  display inline-block

.settings
  .con-body
    padding 15px 10px

.appstore-badges
  font-size 0

.appstore
  background transparent url('/img/appstore-sprite.png') no-repeat
  display inline-block
  width 143px
  height 42px
  overflow hidden
  text-indent -999px
  border-radius 3px
  border 1px solid #000
  margin-right 10px

.appstore-apple
  background #000 url('/img/appstore-sprite.png') -1px -1px no-repeat

.appstore-google
  background #000 url('/img/appstore-sprite.png') -155px -1px no-repeat