$red = #e37368

/* Market Tickers */
.market-ticker
  @extends .container
  width 200px
  &.edit-on
    color #999
    .market-ticker-header
      background #fff
      .edit-ticker
        color inherit
    .rate
      display none
    .hide-coin
    .show-coin
    .move-coin
    .add-coin
      display block

  .edit-ticker
    float right
    font-size 15px
    color #999
    &:hover
      color $blue
      text-decoration none   

.market-ticker-coins
  reset-list()

.add-coin
  display none
  padding 10px
  background #f9f9f9
  border-top 1px solid #ecedef
  select
    width 100%
.market-ticker-coin
  clearfix()
  border-bottom 1px solid #ecedef
  border-top 1px solid #ecedef
  padding 10px
  cursor pointer
  height 38px
  margin-bottom -1px
  margin-top -1px
  &.active
    color #fff
    margin 4px 3px
    border-radius 1px
    border 0
    background $blue
    font-weight bold
    .rate
    &:hover
      color #fff !important
  &:hover
    color $blue
  &.up
    .rate
      color #72b54c
      transition color .3s ease-out
      &:after
        content "▲"
  &.down
    .rate
      color #da4444
      transition color .3s ease-out
      &:after
        content "▼"
  .hide-coin
  .move-coin
    display none
  .hide-coin
    color #da4444
    margin-right 5px
    i
      vertical-align -1px
    &:hover
      text-decoration none
  .hide-coin
  .label
    float left
  .move-coin
    cursor pointer
    float right
    margin-left 5px
    i
      vertical-align middle
  .rate
    float right
  &:last-child
    border-bottom 0

/* Center */
.coin-stats
  @extends .container
  background #f9f9f9
  .last-price
    font-weight bold
    color $darkblue
  .up
    color #72b54c
  .down
    color #da4444

.graph
  width 100%
  height 300px
  background #fff
  border-radius 1px
  margin-bottom 10px

/* Order Boxes */
.order-box-wrap
  width 50%
  float left
  &:first-child
    .order-box
      margin-right 10px

.order-box
  @extends .container
  min-height 287px
  .currency-input
    width 100%
    margin-bottom 10px

.amount
  font-weight bold

.order-box-balance
  float right
  line-height 16px
  margin 0

.page-title
.market-title
  background #f6f7f8
  padding 10px
  color $darkblue
  margin 0 0 10px 0
  font-size 16px
  line-height 16px
  font-weight 500
  border 1px solid $border-color
  border-radius 3px

.market-type
  clearfix()
  border-bottom 1px solid #e0e5e8
  label
    padding 10px
    width 50%
    display block
    float left
    &:first-child
      border-right 1px solid #ecedef
  input[type="radio"]
    margin-right 5px
  i
    font-style normal
    cursor pointer
    &:hover
      color $blue

.market-order
.limit-order
  padding 10px
  label
    margin-bottom 5px
    display block
  .confirm-order
    button
      width 100%
      btn($teal)
      font-weight 500
      letter-spacing .5px

.order-overview
  width 100%
  margin-bottom 10px
  font-size 13px
  th
    padding 7px 5px
    font-weight normal
  td
    padding 7px 5px
  .subtotal
  .to-receive
    background #f9f9f9
  .to-receive
    padding 8px 5px
    font-size 14px
    th
      font-weight bold

.overlay-amount
  position absolute
  line-height 28px
  top 0
  right 10px
  height 20px
  color #808080
  z-index 2

// TEMP
#sell-box .market-order
  display none

/* Order Book */
.order-book-wrap
  width 50%
  float left
  &:first-child
    .order-book
      margin-right 10px

.order-book
  @extends .container
  max-height 500px

.trade-history
  max-height 500px
  
.order-book-total
  float right
  line-height 16px
  margin 0

.table-wrap
  overflow-y auto
  overflow-x hidden
  max-height 440px

.trade-data
  width 100%
  border-spacing 1px
  border-collapse separate
  th
  td
    padding 6px 10px
  .wall
    font-weight bold
  tr:nth-child(even)
    background-color #f9f9f9
  .buy
    .trade-type
      color #72b54c
  .sell
    .trade-type
      color #da4444
