/* Market Tickers */
.market-ticker
  background #fff
  border-radius 2px
  overflow hidden
  border 1px solid #e0e5e8
  width 200px
  &.edit-on
    color #999
    .market-ticker-header
      background #fff
      .edit-ticker
        color inherit
    .rate
      display none
    .hide-coin
    .show-coin
    .move-coin
    .add-coin
      display block

.market-ticker-header
  margin 0
  padding 10px
  background #f9f9f9
  letter-spacing .3px
  color #14294e
  border-bottom 1px solid #e0e5e8
  font-size 14px
  .edit-ticker
    float right
    font-size 15px
    color #999
    &:hover
      color $blue
      text-decoration none

.market-ticker-coins
  reset-list()

.add-coin
  display none
  padding 10px
  border-top 1px solid #ecedef
  select
    width 100%
.market-ticker-coin
  clearfix()
  border-bottom 1px solid #ecedef
  padding 10px
  cursor pointer
  height 38px
  margin-top -1px
  &.active
    color #fff
    background $blue
    border 0
    font-weight bold
    .rate
    &:hover
      color #fff !important
  &:hover
    color $blue
  &.up
    .rate
      color #72b54c
      transition color .3s ease-out
      &:after
        content "▲"
  &.down
    .rate
      color #da4444
      transition color .3s ease-out
      &:after
        content "▼"
  .hide-coin
  .move-coin
    display none
  .hide-coin
    color #da4444
    margin-right 5px
    i
      vertical-align -1px
  .hide-coin
  .label
    float left
  .move-coin
    cursor pointer
    float right
    margin-left 5px
    i
      vertical-align middle
  .rate
    float right
  &:last-child
    border-bottom 0

/* Center */
.market-title
  margin 0 0 10px 0
  font-weight 500
  font-size 20px
  letter-spacing .3px
  color $darkblue
  .coin-icon
    vertical-align text-bottom

.coin-icon
  width 20px
  height 20px
  display inline-block
  image '/img/coins.png' auto 20px
  background-repeat no-repeat
  &.ppc
    background-position -20px 0

.coin-stats
  background #f9f9f9
  border-radius 2px
  overflow hidden
  border 1px solid #e0e5e8
  margin-bottom 10px
  padding 10px
  p
    padding 0
    margin-bottom 5px
    &:last-child
      margin 0
  .last-price
    font-weight bold
    color $darkblue
  .up
    color #72b54c
  .down
    color #da4444

.graph
  width 100%
  height 300px
  background #ccc
  border-radius 1px
  margin-bottom 10px

/* Order Boxes */
.order-box-con-wrap
  clearfix()
  margin-bottom 10px
.order-box-wrap
  width 50%
  float left
  padding 0 10px 0 0
  &:last-child
    padding 0

.order-box
  background #fff
  border-radius 2px
  overflow hidden
  border 1px solid #e0e5e8
.order-box-header
  clearfix()
  background #f9f9f9
  padding 10px
  border-bottom 1px solid #e0e5e8
.order-box-title
  margin 0
  color $darkblue
  float left
  font-size 16px
  line-height 16px
.order-box-balance
  float right
  line-height 16px
  margin 0
  .amount
    font-weight bold
.order-box-body
  padding 10px
  select
    margin-bottom 10px