.wallets
  reset-list()

.add-wallet
  border-top 1px dotted #e0e5e8
  background #f9f9f9
  padding 10px
  select
    width 77%
  button
    margin-left 3%
    width 20%
    color inherit
    background #fff
    height 25px
    line-height 25px
    border-radius 3px
    padding 0 5px
    text-transform uppercase
    border 1px solid $border-color
    font-size 12px
    transition all .1s linear
    &:hover
      color $teal
      border-color $teal
    &:active
      color #14294e

.wallet
  .coin-deposit
    display none

  .withdraw-cnt
    display none

.fund-nav
  reset-list()
  li
    border-bottom 1px solid #ecedef
    border-top 1px solid #ecedef
    cursor pointer
    height 38px
    margin-top -1px
    margin-bottom -1px
    &:last-child
      border-bottom 0
    &.active
      margin 4px 3px
      border-radius 1px
      background $blue
      border 0
      font-weight bold
      a
        color #fff
        &:hover
          color #fff !important
    a
      clearfix()
      padding 10px
      display block
      color #5f6a7d
      &:hover
        color $blue
        text-decoration none
      &:active
        color #14294e
      .label
        float left
      .balance
        float right

#balance
  th
    width 150px

.transaction-con
  min-height 280px
  label
    margin-bottom 5px
    display block
  .confirm-order
    margin-top 10px
  .terms
    reset-list()
    margin-top 5px
    text-align center
    color #999
    margin 10px -10px -10px -10px
    padding 10px
    border-top 1px solid #ecedef
    li
      margin-bottom 3px
      &:last-child
        margin 0

  .currency-input
  .address-input
    width 100%
    margin-bottom 5px


.coin-deposit-address
  background #fcfce6
  padding 10px
  border 1px solid #e9eaed
  box-sizing border-box
  word-wrap break-word
  border-radius 3px
  clearfix()
  code
    float left
    font-weight bold
    margin 4px 0
    color $darkblue
  button
    float right
    font-weight 300
    white-space nowrap
    background #fff
    height 25px
    color inherit
    line-height 23px
    border-radius 3px
    padding 0 8px
    text-transform uppercase
    border 1px solid $border-color
    font-size 12px
    transition all .1s linear
    &:hover
    &.zeroclipboard-is-hover
      color $blue
      border-color $blue
    &:active
      color #14294e

#show-qr-bt
  margin-left 6px

