.wallets
  reset-list()

.add-wallet
  border-top 1px dotted #e0e5e8
  background #f9f9f9
  padding 10px
  select
    width 77%
  button
    margin-left 3%
    width 20%
    color #999
    background #fff
    height 25px
    line-height 23px
    border-radius 3px
    padding 1px 5px
    text-transform uppercase
    border 1px solid $border-color
    font-size 12px
    transition all .1s linear
    &:hover
      color $blue
      border-color $blue
    &:active
      color #14294e

.wallet
  .coin-deposit
    display none

  .withdraw-cnt
    display none

.fund-nav
  reset-list()
  li
    border-bottom 1px solid #ecedef
    border-top 1px solid #ecedef
    cursor pointer
    height 38px
    margin-top -1px
    margin-bottom -1px
    &:last-child
      border-bottom 0
    &.active
      margin 4px 3px
      border-radius 1px
      background $blue
      border 0
      font-weight bold
      a
        color #fff
        &:hover
          color #fff !important
    a
      clearfix()
      padding 10px
      display block
      color #5f6a7d
      &:hover
        color $blue
        text-decoration none
      &:active
        color #14294e
      .label
        float left
      .balance
        float right