extends ../layout

block content
  .main-content(role='main')
    .wrapper
      .one-col.content
        h1.page-title Who we are
        p 
          | Coinnext provides an online trading platform for people to buy and sell digital currencies.
          <br />
          | Our ongoing mission is to offer you the best trading experience possible within a secure and reliable environment.
          <br />
          | We are founded January of 2014 and are based in Antwerp, Belgium.

        h2 Founders
        ul.profile-group
          li.profile
            img(src="img/about/sebastian.jpg", width="140px").portrait
            h3 Sebastian Mortelmans
            h4 Founder 
            p Designer and front-end engineer. Early bitcoin adaptor. Serial entrepreneur; built and sold Bitcoin startup in 2013.

          li.profile
            img(src="img/about/dumitru.jpg", width="140px").portrait
            h3 Dumitru Glavan
            h4 Founder 
            p Software engineer. Experienced in working with cryptocurrency protocols. Specialized in building large-scale applications (1M+ users). Serial entrepreneur; built and sold Bitcoin startup in 2013.

        h2 Advisors
        ul.profile-group
          li.profile
            img(src="img/about/thomas.jpg", width="140px").portrait
            h3 Thomas Spaas
            h4 Legal Council
            p A Belgian and international tax attorney, specialising in the tax and legal treatment of bitcoin. He also serves as a co-director of the Belgian Bitcoin Association.
