extends ../layout

block content
  .main-content(role='main')
    .wrapper
      .col-aside
        ul.sub-nav
          li: a(href='/legal/terms') Terms of Service
          li: a(href='/legal/privacy') Privacy Policy
          li.active: a(href='/legal/cookie') Cookie Policy
      .col-main.content
        h1.page-title Cookie Policy
        p By using the coinnext.com web site ("Service"), a service distributed by Coinnext Limited ("Coinnext"), you are agreeing to be bound by the following cookie policy ("Cookie Policy").
        p Cookies are small data files which are placed on your computer or other mobile or handheld device (such as smartphones) as you browse the Website.  They are used to ‘remember’ when your computer or device accesses the Website.  The cookies are essential to the effective operation of our Website and enables you to use our services.

        p By using the Service you agree and give your consent to Coinnext to install cookies in your computer or other mobile or handheld device.

        p Some cookies collect information about browsing and your behavior at the Website.  We do not use cookies to collect or record information on your name, address or other contact details.  Third parties are not able to identify you by using cookies collected by us.

        p
          | If you want to disable cookies you need to change your website browser settings to reject cookies. How to do this will depend on the browser you use.
          | If you disable cookies, the Website may not operate properly.

        p.last-updated This agreement has been last updated on January 20th, 2014.
