extends ../layout

block content
  .main-content(role='main')
    .wrapper
      .col-aside
        ul.sub-nav
          li: a(href='/legal/terms') Terms of Service
          li.active: a(href='/legal/privacy') Privacy Policy
          li: a(href='/legal/cookie') Cookie Policy
      .col-main.content
        h1.page-title Privacy Policy
        
        p By using the coinnext.com web site ("Service"), a service distributed by Coinnext Limited ("Coinnext"), you are agreeing to be bound by the following privacy policy ("Privacy Policy"). This privacy policy is governed by Maltese law, without reference to its conflict of law rules. In case of any dispute concerning the privacy policy, the courts of Malta will have jurisdiction. Coinnext reserves the right to update and change the Privacy Policy from time to time without notice.
        p Coinnext and its affiliates (hereinafter, "Coinnext", "we", "us" or "our") are committed to protecting and respecting your privacy. This Privacy Policy governs our collection, processing and use of your Personal Information. We define "Personal Information" as information that identifies you personally, e.g. your name, address, e-mail address, trades, banking details, etc.
        p The purpose of this Privacy Policy is to inform you of:
        ul
          li The kind of Personal Information which we may collect about you and how it may be used;
          li Our use of IP addresses;
          li Any disclosure of Personal Information to third parties;
          li Your ability to correct, update and delete your Personal Information;
          li The security measures we have in place to prevent the loss, misuse, or alteration of Personal Information under our control; and
          li Retention of Personal Information.
        h2 Collection and use of personal information 
        p We may collect your Personal Information if you use the Service, open a Coinnext account to use the Service or perform any trades on the Service. The types of Personal Information that we collect may include:
        ul
          li Your name;
          li A photographic id; a government issued ID, national ID card or an EU driving license
          li If a legal entity, relevant documents of incorporation;
          li Your address;
          li E-mail address;
          li Banking details, such as account numbers, bank name and  IBAN/BIC numbers
          li Your date of birth
          li A utility bill or bank statement
        p We can use your information for the following purposes:
        ul
          li to comply with anti-money laundering regulation;
          li to improve the website experience;
          li to process transactions;
          li to improve the customer experience; and
          li any other use case that allows us to deliver a great user experience for our customers.
        p <b>Coinnext will not share, publish or sell any confidential user data. However, we might be requested at any time by the court (of Jersey) to share data, including but not restricted to, emails, user transactions, trade data, etc. We will not deny such requests if reasonable and made through the appropriate channels (e.g. Jersey courts).</b>
        p.last-updated This agreement has been last updated on January 3rd, 2014.
