extends ../layout

block content
  .main-content(role='main')
    .wrapper
      .one-col.content
        h1.page-title Security Policy

        h2 Built securely from the ground up
        p
          | Coinnext meets all industry standards to safeguard your data. We use various methods to secure our servers as well as our software. If you have any questions or concerns about our security, please contact us at <a href="mailto:security@coinnext.com">security@coinnext.com</a>

        h2 Cryptocurrency
        p 
          | A majority of customer deposits are stored in offline wallets. These are wallets that we keep offline with complete air-gap isolation.
          | An absolute minimum of coins to maintain operational liquidity are stored in online wallets.
          | All wallets are encrypted at all times. The wallets and paper backups of them are stored in several geographically distributed vaults.
          | Furthermore, we maintain full reserves at all times.

        h2 Server
        p
          | Network infrastructure is segregated and protected by physical firewalls.<br />
          | We use <a href="http://www.cloudflare.com/" rel="nofollow" target="_blank">Cloudflare</a> for DDoS protection.<br />
          | All data is backed up on a regular basis to ensure redundancy.<br />
          | We regularly scan our networks for any security issues using several third-party service providers.<br />
          | All-network traffic is encrypted via SSL and SSH.

        h2 Software
        p 
          | All application traffic is sent over SSL/TLS.
          <br />
          | We perform regular internal source code audits.
          | We run an active white hat program through various third party service providers.


        h2 Account
        p
          | We offer two-factor authentication using Google Authenticator as an extra security layer for authentication.<br />
          | All sensitive data like your password is encrypted before stored in the database.

        h2 Organizational
        p
          | Prospective employees undergo security screenings during the hiring process.
          | All employees use encrypted storage and encrypted password management.