extends ../layout

block content
  .main-content.terms(role='main')
    .wrapper
      .one-col.content
        h1.page-title Security Policy

        h2 Cryptocurrency
        p 
          | A majority of customer deposits are stored in offline wallets. These are wallets that are kept offline with complete air-gap isolation.
          | An absolute minimum of coins to maintain operational liquidity are stored in online wallets.
          | All wallets are encrypted at all times. Passwords are stored in encrypted password management software on encrypted volumes.
          | The wallets and paper backups of them are stored in several geographically distributed vaults.
          | Furthermore we maintain full reserves at all times.

        h2 Server
        p
          | Network infrastructure is segregated and protected by physical firewalls.
          | We use <a href="http://www.cloudflare.com/" rel="nofollow" target="_blank">Cloudflare</a> for DDoS protection.
          | All data is backed up on a regular basis to ensure redundancy.
          | We regularly scan our networks for any security issues using several third party service providers.

        h2 Software
        p 
          | All data is sent over an encrypted SSL tunnel.
          <br />
          | We perform regular internal source code audits.
          | We run an active white hat program through various third party service providers.


        h2 Account
        p
          | We offer two-factor authentication using Google Authenticator as an extra security layer for authentication.
          | All sensitive data like passwords are encrypted before stored in the database.
          | Login / Registration or Password recovery attempts do not reveal any account information, including the confirmation of the existence of an account.

        h2 Organizational
        p
          | All prospective employees undergo security screenings during the hiring process.
          | Employees use encrypted storage and encrypted password management.

        