extends ../layout

block content
  .main-content(role='main')
    .wrapper
      .col-aside
        ul.sub-nav
          li.active: a(href='/legal/terms') Terms of Service
          li: a(href='/legal/privacy') Privacy Policy
          li: a(href='/legal/cookie') Cookie Policy
      .col-main.content
        h1.page-title Terms of Service
        p By using the coinnext.com web site ("Service"), a service distributed by Coinnext Limited ("Coinnext"), you are agreeing to be bound by the following privacy policy ("Privacy Policy"). These Terms of Service are governed by Maltese law, without reference to its conflict of law rules. In case of any dispute concerning the Terms of Service or the use of the Service, the courts of Malta will have jurisdiction.
        p Coinnext reserves the right to update and change the Terms of Service at any time without notice. Any new features that augment or enhance the current Service, including the release of new tools and resources, shall be subject to the Terms of Service. Continued use of the Service after any such changes shall constitute your consent to such changes.
        
        h2 Account terms
        ol
          li You must be of legal age in your jurisdiction to use the Service. If you are representing a legal entity on the Service, you warrant that (i) such entity is duly organised and validly exists under applicable law of the jurisdiction of its organisation; and (ii) you are authorised to act on its behalf.
          li You must be a human when using the Service. Accounts registered by "bots" or other automated methods are not permitted through the website, only via access through our official API.
          li To comply with anti-money laundering regulation, you are required to provide us with your legal or full name, a valid email address and any other information requested when your account has support enabled for fiat currency.
          li You are responsible for maintaining the security of your account and its password. Coinnext cannot and will not be liable for any losses or damages from your failure to comply with this security obligation.

        h2 Trading and Funds
        ol
          li Any order that is placed, can and may be matched at any point. While you are able to cancel the order, cancellation can never be guaranteed.
          li We are not able to refund any coins that have been sent to the wrong address.
          li Coinnext does not accept any liability for any delays, errors and inaccuracies in any data provided to you and handled by the matching engine or online wallet.

        h2 Cryptocurrency attacks 
        p Coinnext makes every attempt to help prevent and mitigate cryptocurrency attacks. However, in the event of such an attack Coinnext will immediately halt trading, deposits, and withdrawals for that coin. If it is determined that such an attack caused the currency to greatly decrease in value, then Coinnext will discontinue trade activity on that currency entirely. Resolutions concerning deposits, withdrawals, and user balances for an attacked currency will be determined on a case by case basis. 

        h2 Independent relationship
        ol
          li You acknowledge and agree that: (i) Coinnext is not acting as a broker, intermediary, agent, or advisor or in any fiduciary capacity, and (ii) no communication or information provided to you by Coinnext shall be considered or construed as advice.
          li You represent that you have been solely responsible for making your own independent appraisals and investigations into the risks of any transaction. You represent that you have sufficient knowledge, market sophistication, professional advice and experience to make your own evaluation of the merits and risks of any transaction. We give you no warranty as to the suitability of the products traded under this Agreement and assume no fiduciary duty in our relations with you.
          li When and where we provide generic trading recommendations, market commentary or other information: (i) Coinnext provides this solely to enable you to make your own investment decisions, and this does not amount to advice; (ii) we give no representation, guarantee or warrant whatsoever as to the accuracy or completeness of such information.
        
        h2 Indemnification
        p You agree to indemnify and hold harmless Coinnext (and each of our officers, directors, members, employees, agents and affiliates) from any claims, demands, actions, damages, losses, costs or expenses, including without limitation reasonable attorneys’ fees, arising out or relating to (i) your use of, or conduct in connection with, our Service; (ii) your violation of these Terms; or (iii) your violation of any rights of any other person or entity. If you are obligated to indemnify us, we will have the right, in our sole discretion, to control any action or proceeding (at our expense) and determine whether we wish to settle it. In no event shall any aggregate liability of Coinnext (including our members, directors, agents and employees exceed the fees paid by you to Coinnext over the last 12 months preceding the date of the claim giving rise to such liability.
        
        h2 Taxes
        p It is your responsibility to determine what, if any, taxes apply to the trades you complete via the Service, and it is your responsibility to report and remit the correct tax to the appropriate tax authority of your jurisdiction. You agree that Coinnext is not responsible for determining whether taxes apply to your trades or for collecting, reporting, withholding or remitting any taxes arising from any trades. You agree that Coinnext will not be liable for any potential tax related fines.
        h2 General conditions
        ol
          li Your use of the Service is at your sole risk. The service is provided on an "as is" and "as available" basis. Coinnext will not be responsible for any damages a service interruption may cause to the user.
          li You understand that Coinnext uses third party vendors and hosting partners to provide the necessary hardware, software, networking, storage, and related technology required to run the Service.
          li You must not modify, adapt or hack the Service or modify another website so as to falsely imply that it is associated with the Service, Coinnext, or any other Coinnext service. 
          li You agree not to reproduce, duplicate, copy, sell, resell or exploit any portion of the Service, use of the Service, or access to the Service without the express written permission by Coinnext
          li Verbal, physical, written or other abuse (including threats of abuse or retribution) of any Coinnext customer, employee, member, or officer will result in immediate account termination. 
          li You understand that the technical processing and transmission of the Service, including your Content, may involve (i) transmissions over various networks; and (ii) changes to conform and adapt to technical requirements of connecting networks or devices.
          li We may, at our sole discretion and without liability to you, with or without prior notice and at any time, modify or discontinue, temporarily or permanently, any portion of the Service.
          li Coinnext does not warrant that (i) the service will meet your specific requirements, (ii) the service will be uninterrupted, timely, secure, or error-free, (iii) the results that may be obtained from the use of the service will be accurate or reliable, (iv) the quality of any products, services, information, or other material purchased or obtained by you through the service will meet your expectations, and (v) any errors in the Service will be corrected.
          li The failure of Coinnext to exercise or enforce any right or provision of the Terms of Service shall not constitute a waiver of such right or provision. The Terms of Service constitutes the entire agreement between you and Coinnext and govern your use of the Service, superseding any prior agreements between you and Coinnext (including, but not limited to, any prior versions of the Terms of Service).
          li Questions about the Terms of Service should be directed to support at coinnext dot com.
        p.last-updated This agreement has been last updated on April 10th, 2014.

