extends ../layout

block content
  .main-content.terms(role='main')
    .wrapper
      .col-aside
        ul.sub-nav
          li.active: a(href='/legal/terms') Terms of Service
          li: a(href='/legal/privacy') Privacy Policy
      .col-main
        h1.page-title Terms